---
interface Props {
    title?: string,
    description?: string,
}

const {title = 'Home', description = 'We\'ve scoured web rankings and social media to compile the ultimate post list of most important, useful, and entertaining blogs.'} = Astro.props;
---

<section class={`mt-[50px] mb-[24px] text-center`}>
    <h1 class={`
        relative
        inline-block
        
        mb-[12px] font-bold text-[48px]
        
        border-b-[8px] border-b-pink-400
    `}>
        {title}
    </h1>

    <p class={`max-w-[800px] m-auto font-thin !text-[16px] !leading-[18px]`}>
        {description}
    </p>
</section>
