---
interface Props {
    title: string,
    description: string,
}

const {title, description} = Astro.props;
---

<section class={`mt-[50px] mb-[24px] text-center`}>
    <h1 class={`mb-[12px] font-bold text-[48px]`}>
        {title}
    </h1>

    <p class={`max-w-[800px] m-auto font-thin !text-[16px] !leading-[18px]`}>
        {description}
    </p>
</section>
